.nowuknow-login-container {
    display: flex;
    flex-direction: column;
}

.nowuknow-login-form {
    display: flex;
    flex-direction: column;
}

.nowuknow-login-btn {
    width: 30%;
}

.nowuknow-login-btn-div {
    display: flex;
}