.nowuknow-comentario-texto {
  display: flex;
  flex-direction: column;
}

.nowuknow-comentario-bottom {
  display: flex;
  justify-content: space-between;
}

.nowuknow-comentario-actions {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os itens */
}

.nowuknow-comentario .nowuknow-post-user {
  color: var(--nowuknow-text-tertiary);
  font-weight: 500;
}

.nowuknow-comentario .nowuknow-post-author-info a {
  text-decoration: none;
}
