.nowuknow-feedback {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espaçamento entre os itens */
}

.nowuknow-feedback-icon {
  color: var(--nowuknow-bg-accent);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nowuknow-feedback-icon:hover {
  color: var(--nowuknow-text-secondary);
}
