.feed-container {
  padding: 1em;
}

.post-form-container {
  margin-bottom: 2em;
}

.post-feed {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.no-posts {
  text-align: center;
  color: #888;
}

.nowuknow-feed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nowuknow-post-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
