.nowuknow-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nowuknow-text-primary);
    padding: 10px 0;
    border-top: 1px solid var(--nowuknow-bg-accent);
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--nowuknow-bg-dark);
}

.nowuknow-footer p {
    margin: 0;
    padding: 10px 0;
}