.nowuknow-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nowuknow-footer-height);
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-bottom: 1rem;
}

.nowuknow-footer p {
  margin: 0;
  padding: 1rem 0;
}
