.nowuknow-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--nowuknow-text-primary);
    padding: 10px 0;
    border-top: 1px solid var(--nowuknow-bg-accent);
}

.nowuknow-footer p {
    margin: 0;
    padding: 10px 0;
}