.nowuknow-navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nowuknow-navbar-middle {
    display: flex;
    flex-grow: 1
    
}

.nowuknow-brand{
    color: var(--nowuknow-text-highlight);
    text-decoration: none;
    font-size: 16pt;
}

.nowuknow-search {
    display: flex;
    width: 45%;
    gap: 0.5rem;
    padding: 0 20px;
    align-items: center;
}

.nowuknow-search input {
    border-radius: 25px;
    width: 100%;
    border: 1px solid var(--nowuknow-bg-accent);
    background-color: var(--nowuknow-bg-dark);
    color: var(--nowuknow-text-primary);
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nowuknow-nav-link.nowuknow-active {
    color: var(--nowuknow-text-tertiary)
}
.nowuknow-search input::placeholder {
    color: var(--nowuknow-text-secondary);
}


.nowuknow-search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--nowuknow-bg-dark);
    border: 1px solid var(--nowuknow-bg-accent);
}

.nowuknow-nav-item {
    color: var(--nowuknow-text-primary)
}
.nowuknow-nav-link {
    color: var(--nowuknow-text-primary)
    display: block;
    padding: 0.35rem;
    font-size: 12pt;
    font-weight: 300;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nowuknow-nav-link:hover {
    color: var(--nowuknow-text-secondary)
}