.nowuknow-header {
  color: var(--nowuknow-text-primary);
  padding: 2px 10px;
  height: var(--nowuknow-header-height);
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  align-items: center;
  background-color: var(--nowuknow-bg-dark);
  width: 100%;
  z-index: 1;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px 0px;
}

.nowuknow-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nowuknow-navbar-middle {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
  align-items: center;
}

.nowuknow-navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
}

.nowuknow-navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  min-width: calc(100% / 3);
  max-width: calc(100% / 3);
}

.nowuknow-brand {
  color: var(--nowuknow-text-highlight);
  text-decoration: none;
  font-size: 16pt;
  padding-left: 0.5em;
}

.nowuknow-search {
  display: flex;
  width: 45%;
  gap: 0.5rem;
  padding: 0 20px;
  align-items: center;
}

.nowuknow-search-form {
  display: flex;
  align-items: center;
  flex: 1;
}

.nowuknow-search input {
  border-radius: 25px;
  width: 100%;
  border: 1px solid var(--nowuknow-bg-accent);
  background-color: var(--nowuknow-bg-light);
  color: var(--nowuknow-text-muted);
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nowuknow-nav-link.nowuknow-active {
  color: var(--nowuknow-text-tertiary);
}
.nowuknow-search input::placeholder {
  color: var(--nowuknow-text-secondary);
}

.nowuknow-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: var(--nowuknow-bg-dark);
  border: 2px solid var(--nowuknow-bg-accent);
  color: var(--nowuknow-text-primary);
}

.nowuknow-plus {
  font-size: 1.5em;
}

.nowuknow-navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.nowuknow-nav-item {
  color: var(--nowuknow-text-primary);
}

.nowuknow-nav-link {
  color: var(--nowuknow-text-primary);
  display: block;
  padding: 0;
  font-size: 12pt;
  font-weight: 300;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nowuknow-nav-link:hover {
  color: var(--nowuknow-text-secondary);
}

.nowuknow-menu-btn {
  background: none;
  border: none;
  color: var(--nowuknow-bg-light);
  font-size: 1.5rem;
  cursor: pointer;
  max-width: 60px;
}

.nowuknow-create-post-btn {
  display: flex;
  border: 2px solid var(--nowuknow-bg-accent);
  border-radius: 30px;
  background-color: var(--nowuknow-bg-dark);
  color: var(--nowuknow-text-primary);
  align-items: center;
  padding: 0 0.5em;
  /* text-decoration: none; */
}

.nowuknow-perfil-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 840px) {
  .hide-on-resize {
    display: none;
  }
}

@media (max-width: 500px) {
  .hide-on-resize-2 {
    display: none;
  }
}
