.post {
  display: flex;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.post-user,
.post-date {
  font-size: 0.9em;
  color: #555;
}

.post-text {
  margin-top: 0.5em;
  font-size: 1em;
  color: #333;
}

.nowuknow-post-container {
  background-color: var(--nowuknow-bg-light);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: var(--nowuknow-text-muted);
  border-bottom: var(--nouwknow-border-lighter) solid 1px;
  max-width: 720px;
  flex: 1 1 auto;
}

.nowuknow-post {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px;
  padding: 30px 15px;
}

.nowuknow-post:hover {
  background-color: var(--nowuknow-bg-medium);
}

.nowuknow-post-video-container {
  display: flex;
  align-content: center;
  justify-content: center;
}

.nowuknow-post-video-player {
  border-radius: 12px;
  width: 100%;
}

.nowuknow-comment-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.nowuknow-comment-icon:hover {
  color: var(--nowuknow-border);
}

.nowuknow-comment-count {
  margin-right: 5px;
}
.nowuknow-icon {
  color: white;
  cursor: pointer;
  transition: color 0.2s ease;
}

.nowuknow-icon.selected {
  color: hsla(211, 53%, 11%, 1); /* Azul claro */
}

.nowuknow-comment-icon {
  color: white;
  cursor: pointer;
}
.nowuknow-feedback {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.nowuknow-post-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.nowuknow-post-icons-left,
.nowuknow-post-icons-right {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.nowuknow-post-actions {
  display: flex;
  align-items: center;
  gap: 20px; /* Espaçamento entre os itens */
}

.nowuknow-avatar-container {
  display: flex;
}

.nowuknow-post-content {
  margin: 0.5em 0;
}

.nowuknow-post-author {
  display: flex;
  align-items: center;
}

.nowuknow-post-author-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.nowuknow-post-author-info p {
  margin-bottom: 0;
}
