.post {
  background: #f9f9f9;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.post-user, .post-date {
  font-size: 0.9em;
  color: #555;
}

.post-text {
  margin-top: 0.5em;
  font-size: 1em;
  color: #333;
}

.nowuknow-post-container {
    background-color: var(--nowuknow-bg-light);
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: #00000059 0 1px 4px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: var(--nowuknow-text-muted);
    border-bottom: var(--nowuknow-bg-accent) solid 2px;
}