.no-comentarios {
  color: #777;
  border-radius: 20px;
  margin: 10px;
  padding: 18px 15px;
}

.nowuknow-comentarios-postagem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post {
  background: #f9f9f9;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.post-user,
.post-date {
  font-size: 0.9em;
  color: #555;
}

.post-text {
  margin-top: 0.5em;
  font-size: 1em;
  color: #333;
}

.nowuknow-comentarios-post-container {
  display: flex;
  flex-direction: column;
}

.nowuknow-comentario-container {
  display: flex;
  flex-direction: column;
}

.nowuknow-comentario {
  border-radius: 20px;
  margin: 10px;
  padding: 30px 15px;
}

.nowuknow-comentario-container:nth-child(n) {
  border-bottom: rgba(0, 0, 0, 0.04) solid 1px;
}

.nowuknow-comentario-container:last-child {
  border-bottom: none;
}

.nowuknow-comentario-container:only-child {
  border-bottom: none; /* Remove a borda se for o único filho */
}

.nowuknow-title-comentario {
  border-radius: 20px;
  margin: 10px;
  padding: 18px 15px;
}

.nowuknow-comentario:hover {
  background-color: var(--nowuknow-bg-medium);
}

.erro-comentario {
  color: red;
}

#novoComentario {
  margin-top: 5px;
  padding: 1.2rem;
}
