.nowuknow-sidebar {
    width: 250px;
    height: calc(100vh - 60px);
    background-color: var(--nowuknow-bg-dark);
    color: var(--nowuknow-text-primary);
    box-shadow: #0000004d 0 1px 4px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.nowuknow-sidebar-nav {
  list-style-type: none;
  padding: 20px;
}

.nowuknow-sidebar-link {
  color: var(--nowuknow-text-primary);
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.nowuknow-sidebar-link.nowuknow-active {
  font-weight: bold;
}

.nowuknow-close-btn-div {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
.nowuknow-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  width:60px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 2px;
}

.nowuknow-sidebar-icon {
  padding-right: 0.2em;
}

.nowuknow-sidebar-top {
  display: flex;
}

.nowuknow-sidebar-middle {
    display: flex;
    flex-grow: 1;
}

.nowuknow-sidebar-bottom {
  display: flex;
}