.nowuknow-sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--nowuknow-sidebar-width);
  height: calc(100% - var(--nowuknow-header-height));
  background-color: var(--nowuknow-bg-medium-light);
  color: var(--nowuknow-text-muted);
  transform: translate(-100%);
  transition: transform 0.3s ease;
  z-index: 10;
  box-shadow: #0000004d 0 1px 4px;
  display: flex;
  flex-direction: column;
}

.nowuknow-sidebar a {
  font-weight: 500;
  font-size: 1.8rem;
}
.nowuknow-sidebar.open {
  transform: translateX(0);
}

.nowuknow-sidebar-nav {
  list-style-type: none;
  padding: 20px;
}

.nowuknow-sidebar-link {
  color: var(--nowuknow-text-muted);
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.nowuknow-sidebar-link.nowuknow-active {
  font-weight: bold;
}

.nowuknow-close-btn-div {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.nowuknow-close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  width: 60px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 2px;
}

.nowuknow-sidebar-icon {
  padding-right: 0.2em;
}

.nowuknow-sidebar-top {
  display: flex;
  flex-direction: column;
}

.nowuknow-sidebar-middle {
  display: flex;
  flex-grow: 1;
}

.nowuknow-sidebar-bottom {
  display: flex;
}
